@import "../common/common.scss";

/**
 * /course
 *
 * by zindex
 */

.course_view {
    .info {
        width: 100%;
        height: 195px;
        position: relative;
        color:#fff;
        .overlay{
            top:0;
            left:0;
            width: 100%;
            height: 195px;
            position:absolute;
        }
        .top{
            z-index:3;
        }
        .mask{
            z-index:2;
        	background-color: rgba(238,171,93,.84);
        }
        .basic{
			width:298px;
			margin:0 auto;
        }
        .title{
			font-size:20px;/*px*/
			line-height: 28px;
			padding: 16px 0px;
			min-height: 56px;
        }
        .others{
        	font-size:14px;/*px*/
			line-height: 24px;
        }
        .btns{
        	width:332px;
        	margin:0 auto;
        	padding:6px 0px 16px 0px;
        }
        .btn{
        	display:inline-block;
        	vertical-align: top;
        	line-height: 34px;
        	width:154px;
        	height:34px;
        	border:1px solid #fff;/*px*/
        	border-radius: 1px;/*px*/
        	text-align: center;
        }
        .btn_text{
            font-size:14px;/*px*/
            display:inline-block;
            vertical-align: middle;
        }
        .like{
        	margin-right: 19.5px;
        }
        .w_comment svg,.like svg{
            display:inline-block;
            vertical-align: middle;
            width:17px;
            height:14px;
        }
        .w_comment svg{
            margin-right:8px;
        }
        .like svg{
            margin-right:14px;
        }
        .w_comment use,.like use{
            fill:none;
        }
        g#outline{
            stroke:#ffffff;
        }
    }
    .comments_title{
        width:331px;
        margin:0 auto;
        font-size: 16px;/*px*/
        padding:12px 0px 16px 0px;
        color:$font_666;
        border-bottom: 1px solid $bg_ec;/*px*/
    }
    .comments {
        width:331px;
        margin:0 auto;
        .no_comments{
            width:256px;
            margin:0 auto;
            text-align: left;
            font-size: 14px;/*px*/
            color:$font_999;
            padding-top:15px;
        }
        li{
            list-style: none;
            width:100%;
            padding-top: 20px;
            padding-bottom: 17px;
            border-bottom: 1px solid $bg_ec;/*px*/  
        }
        .avatar{
            display:inline-block;
            height:40px;
            width:40px;
            border-radius: 50%;
            margin-right: 15px;
            overflow: hidden;
            vertical-align: top;
        }
        .avatar img{
            width:100%;
            height:auto;
        }
        .content{
            vertical-align: top;
            display:inline-block;
            width:276px;
            font-size: 14px;/*px*/
        }
        .name,.time{
            color:$font_999;
            font-size: 10px;/*px*/
            line-height: 16px;
        }
        .like{
            margin-top:16px;
            color:$font_999;
            text-align: right;
            font-size: 12px;/*px*/
            line-height: 12px;
        }
        .like_icon{
            display:inline-block;
            height:12px;
            width:13px;
            vertical-align: middle;
            margin-right: 6px;
        }
        .like_icon use{
            transition:all;
            fill:$font_999;
        }
        .liked use{
            fill:#ec6941;
        }
    }
    .more_comments{
        margin: 17px auto;
        width:154px;
        height:38px;
        line-height: 38px;
        border:1px solid $main_orange;/*px*/
        border-radius: 2px;/*px*/
        text-align:center;
        font-size: 16px;
        color:$main_orange;
    }
    .comment_box{
        .container{
            width:332px;
            margin: 0 auto;
            font-size: 14px;/*px*/
        }
        .main{
            width:325px;
            margin:0 auto;
            padding-top: 17px;
        }
        .textarea{
            height:91px;
            width:100%;
            border-top:1px solid $bg_ec;/*px*/
            border-bottom:1px solid $bg_ec;/*px*/
            box-sizing:border-box;
            padding:11px 13px;
            resize: none;
        }
        .hot_title{
            font-size: 12px;/*px*/
            color:$bg_ec;/*px*/
            padding:5px 13px;
        }
        .hot_tags{
            padding:0px 13px;
        }
        .h_tag{
                margin-bottom: 5px;
                display:inline-block;
                height:20px;
                padding:0px 3px;
                line-height:20px;
                color:#fff;
                font-size: 14px;/*px*/
                border-radius: 2px;/*px*/
                margin-right: 6px;
                background-color:$bg_cd;
                text-align:center;
            }
        .current_tag{
            min-height:35px;
            padding:0px 13px;
            line-height: 35px;
            border-bottom:1px solid $bg_ec;/*px*/
            text-align: left;
        }
        .c_tag{
            height:35px;
            color:$font_999;
            font-size: 14px;/*px*/
            display:inline-block;
            vertical-align: middle;
            padding-right: 10px;
            line-height: 35px;
        }
        .tag_input{
             height:35px;
             display:inline-block;
             color:#000;
             font-size: 14px;
             vertical-align: middle;
             line-height: 35px;
             width: 85px;
        }
        .tag_icon{
            display:inline-block;
            width:14px;
            height:14px;
            vertical-align: middle;
            padding-right: 5px;
        }
        .btns{
            padding-top: 47px;
            width:100%;
            .btn{  
                display:inline-block;
                width:156px;
                box-sizing:border-box;
                border-radius: 2px;/*px*/
                text-align: center;
                line-height: 36px;
                height:36px;
                font-size: 14px;/*px*/
            }
            .comment_close{
                margin-right: 20px;
                border:1px solid $main_orange;
                color:$main_orange;
            }
            .comment_submit{
                background-color: $main_orange;
                color:#fff;
            }
        }
    }
    .no_more_comments{
        font-size: 14px;/*px*/
        color:$font_999;
        width:120px;
        margin:0 auto;
        padding:15px 0px;
    }
    .comment_box_pop{
        position:fixed;
        top:0;
        left:0;
        height:100%;
        width:100%;  
        padding-top: 56px;
        display:none;
        box-sizing:border-box;
        z-index: 5;
        background-color: #fff;
    }
}
