@import "../common/common.scss";

/**
 * /login
 *
 * login.scss
 *
 * by zindex
 */

.l_r_view{
	.container{
		width:332px;
		margin: 0 auto;
		form{
			width:100%;
		}
	}
	.row{
		width:100%;
		padding-top: 26px;
		position: relative;
		color:$main_orange;
		font-size: 14px;/*px*/
		.input{
			width:100%;
			display: block;
			line-height:14px;/*px*/
			padding-bottom: 8px;
			border-bottom: 1px solid $font_999;/*px*/
			margin-bottom: 1px;/*px*/
			box-sizing:border-box;
			padding-left: 70px;
		}
		.padd2{
			padding-left: 50px;
		}
		.padd3{
			padding-left: 70px;
		}
		.padd4{
			padding-left: 90px;
		}
		.input:focus{
			margin-bottom: 0px;
			border-bottom: 2px solid $main_orange;/*px*/
		}
		.label{  
			position:absolute;
			left:0;
			top:26px;
			padding-left: 7px;
		}
		.message{
			display:none;
			position:absolute;
			right:0;
			margin-top: 8px;
			color:$main_pink;
			font-size: 12px;/*px*/
			line-height: 17px;
			height:17px;
		}
		.warnning_icon{
			display:inline-block;
			width:17px;
			height:15px;
			vertical-align: middle;
		}
		.warnning_icon use{
			fill:#ff7979;
		}
	}
	.auth_fail .message{
			display:block;
		}
	.auth_fail .input{
		  border-bottom: 1px solid #ff7979;/*px*/
	}
	.hint_text{
		width:272px;
		margin:0 auto;
		text-align: left;
		font-size: 14px;/*px*/
		color:$font_999;
		padding:20px 0px 24px;
	}
	.login_btns{
		padding-top:40px;
	}
	.btns{
		width:332px;
		margin:0 auto;
		text-align: right;
		.btn{
			box-sizing:border-box;
			width:156px;
			height:40px;
			line-height: 40px;
			text-align: center;
			background-color: $main_orange;
			border-radius: 2px;/*px*/
			font-size: 14px;/*px*/
			color:#fff;
		}
		.forget{
			color:$main_orange;
			font-size: 14px;/*px*/
			line-height: 57px;
		}
		.va_item{
			display:inline-block;
			vertical-align: top;
		}
	}
}

