@import "../common/common.scss";
@import "../mixin/tags.scss";

/**
 * /search
 *
 * by zindex
 */

.search_view{
	position:fixed;
	top:56px;
	left:0px;
	width:100%;
	z-index: 9;
	visibility: hidden;
	.warpper{
		opacity:0;
		width:100%;
		position:absolute;
		top:0px;
		left:0px;
		z-index: 5;
		transition:1s all;
		transition-delay: .5s;
		//animation:search_fade_in_ani .5s linear;
		//animation-delay:.5s;
	}
	.container{
		width: 328px;
		margin:0 auto;
	}
	.search_box{
		width: 100%;
		padding-top: 16px;
	}
	.search_input{
		display:inline-block;
		height:40px;
		width:228px;
		vertical-align: top;
		border:2px solid $main_orange;
		border-right: 0px;
		box-sizing:border-box;
		font-size: 16px;/*px*/
		padding-left: 10px;
		color:$font_333;
	}
	.search_btn{
		display:inline-block;
		height:40px;
		background-color: $main_orange;
		width:100px;
		font-size: 16px;/*px*/
		line-height: 40px;
		vertical-align: top;
		color:#fff;
		border-radius: 0px 2px 2px 0px;/*px*/
	}
	.hot{
		width:100%;
		.title{
			padding:14px 0px;
			color:$font_999;
			font-size: 16px;/*px*/
		}
		.items{
			width:100%;
		}
		.item{
			margin-bottom: 16px;
			@include tag();
		}
	}
}

.search_active{
	visibility:visible;
	.warpper_fadeIn{
		opacity:1;
		//transition-delay: 0s;
	}
	.circle_fadeIn{
		transform:translate(-50%,-50%) scale(1);
		opacity: .8;
	}
}

.search_hidden{
	.warpper_fadeOut{
		transition-delay: 0s;
	}
}

.circle{
	margin-left: 264px;
	width:1400px;
	height:1400px;
	border-radius: 50%;
	background-color: #fff;
	transform:translate(-50%,-50%) scale(0);
	opacity: 0;
	transition:1s all;
}

@keyframes search_ripple_in{
	0%{
		
	}
	100%{
		transform:translate(-50%,-50%) scale(1);
		opacity: .8;
	}
}

@keyframes search_ripple_out{
	0%{
		transform:translate(-50%,-50%) scale(1);
		opacity: .8;
	}
	100%{
		
	}
}