@import "../common/common.scss";

/**
 * /user
 *
 * by zindex
 */
.user_view{
	width:100%;
	.btns{
		padding-top: 16px;
		width:328px;
		height:40px;
		font-size: 14px;/*px*/
		margin:0 auto;
	}
	.btn{
		display: inline-block;
		vertical-align: top;
		width:156px;
		height:40px;
		line-height: 40px;
		text-align: center;
		box-sizing:border-box;
		border:1px solid $main_orange;/*px*/
		font-size: 14px;/*px*/
		color: $main_orange;
	}
	.register{
		margin-right: 13px;
	}
	.hint_text{
		margin:0 auto;
		margin-top: 32px;
		width:256px;
		text-align: left;
		font-size: 14px;/*px*/
		color:$font_999;
	}
}