<!DOCTYPE html>
<html lang="zh-cn">
<head>
<link rel="dns-prefetch" href="http://static.muxistudio.com" />
<link rel="apple-touch-icon" sizes="57x57" href="/static/x_m/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/x_m/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/x_m/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/x_m/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/x_m/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/x_m/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/x_m/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/x_m/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/x_m/favicon/apple-icon-180x180.png">
<link rel="manifest" href="/static/x_m/favicon/manifest.json">
<meta name="msapplication-TileImage" content="/static/x_m/favicon/ms-icon-144x144.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/x_m/favicon/favicon-96x96.png">
<meta name="format-detection" content="telephone=no"/>
    <meta charset="UTF-8">
    <script src="/static/x_m/flexible.js"></script>
    <title>学而</title>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?48c34e69d0550c8ab1154db481526bbd";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
    <svg style="display:none">
        <symbol id="views_count" viewBox="0 0 20 10">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="首页上滑" transform="translate(-41.000000, -187.000000)" fill="#FFFFFF">
                    <g id="page1-copy" transform="translate(16.000000, -48.000000)">
                        <g id="eye-copy" transform="translate(25.000000, 235.000000)">
                            <g id="Group">
                                <path d="M10,0 C3.4903125,0 0.2403125,4.48294118 0.105,4.67382353 C-0.035,4.87147059 -0.035,5.12882353 0.105,5.32647059 C0.2403125,5.51705882 3.4903125,10 10,10 C16.5096875,10 19.7596875,5.51705882 19.895,5.32617647 C20.035,5.12852941 20.035,4.87117647 19.895,4.67352941 C19.7596875,4.48294118 16.5096875,0 10,0 Z M10,2.35294118 C8.4490625,2.35294118 7.1875,3.54058824 7.1875,5 C7.1875,6.45941176 8.4490625,7.64705882 10,7.64705882 C11.5509375,7.64705882 12.8125,6.45941176 12.8125,5 C12.8125,3.54058824 11.5509375,2.35294118 10,2.35294118 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </symbol>
        <symbol id="heart_f" viewBox="0 0 13 12">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="outline" transform="translate(-305.000000, -423.000000)" fill="#999999">
                    <g id="4" transform="translate(15.000000, 343.000000)">
                        <g id="Group-Copy-2" transform="translate(57.000000, 3.000000)">
                            <path d="M239.5,79.25 C239.016111,77.951 237.6605,77 236.25,77 C234.413389,77 233,78.449 233,80.375 C233,83.02175 235.739389,85.0685 239.5,89 C243.260611,85.0685 246,83.02175 246,80.375 C246,78.449 244.586611,77 242.75,77 C241.338056,77 239.983889,77.951 239.5,79.25 Z" id="Shape-Copy-2"></path>
                        </g>
                    </g>
                </g>
            </g>
        </symbol>
        <symbol id="logo" viewBox="0 0 122 55">
            <g>
                <g>
                    <g>
                        <path fill="#30B38A" d="M32.985,0.497C17.759-2.188,3.239,7.979,0.554,23.206c-2.473,14.027,5.961,27.454,19.209,31.582
                c5.642-4.115,9.762-10.333,11.07-17.753c0.371-2.104,0.494-4.196,0.394-6.244c-0.022-0.098-0.027-0.2-0.017-0.303
                c0.003-0.031,0.002-0.063,0.009-0.095c0.101-0.521,0.606-0.863,1.127-0.761c0.09,0.017,0.172,0.05,0.25,0.089
                c0.117,0.06,0.218,0.141,0.299,0.238c6.43,5.174,10.402,13.063,10.465,21.592c6.287-4.081,10.93-10.659,12.334-18.623
                C58.379,17.702,48.212,3.183,32.985,0.497z M9.219,32.644c0-2.932,2.377-5.309,5.309-5.309c0.956,0,1.853,0.254,2.628,0.696
                v-0.028l6.659,3.899c0.141,0.037,0.266,0.109,0.361,0.211c0.135,0.141,0.217,0.333,0.213,0.543
                c-0.004,0.203-0.086,0.385-0.218,0.521c-0.095,0.099-0.216,0.169-0.353,0.206l-6.663,3.901v-0.028
                c-0.775,0.443-1.672,0.697-2.628,0.697C11.596,37.953,9.219,35.576,9.219,32.644z M24.487,40.914
                c-0.02,0.08-0.062,0.153-0.121,0.213l-2.292,4.026l-0.009-0.015c-0.27,0.462-0.659,0.864-1.156,1.15
                c-1.524,0.88-3.472,0.358-4.352-1.166c-0.88-1.524-0.357-3.472,1.166-4.352c0.497-0.287,1.039-0.424,1.574-0.426L19.29,40.33
                l4.63,0.028c0.084-0.023,0.171-0.022,0.251,0.002c0.112,0.033,0.212,0.107,0.273,0.218
                C24.504,40.685,24.515,40.805,24.487,40.914z M28.06,27.782c-0.068,0.234-0.225,0.443-0.455,0.57
                c-0.223,0.123-0.471,0.147-0.699,0.09c-0.166-0.042-0.319-0.128-0.444-0.253l-8.388-4.775l0.031-0.018
                c-0.964-0.563-1.8-1.374-2.396-2.41c-1.834-3.174-0.746-7.232,2.429-9.065c3.174-1.832,7.232-0.745,9.065,2.429
                c0.598,1.035,0.883,2.164,0.888,3.28l0.031-0.017l-0.058,9.647C28.11,27.434,28.108,27.615,28.06,27.782z M35.486,24.756
                c-0.103,0.102-0.228,0.174-0.362,0.207c-0.19,0.046-0.397,0.021-0.578-0.087c-0.174-0.104-0.291-0.267-0.342-0.448
                c-0.038-0.132-0.039-0.272-0.002-0.409l-0.047-7.722l0.023,0.015c0.005-0.893,0.232-1.796,0.711-2.625
                c1.467-2.539,4.713-3.409,7.253-1.943c2.539,1.466,3.409,4.713,1.942,7.252c-0.479,0.829-1.147,1.478-1.916,1.928l0.024,0.015
                L35.486,24.756z M49.728,40.917c-0.478,0-0.927-0.127-1.313-0.348v0.015l-3.33-1.95c-0.07-0.018-0.133-0.054-0.181-0.105
                c-0.067-0.07-0.108-0.167-0.106-0.272c0.002-0.101,0.043-0.192,0.108-0.26c0.048-0.049,0.108-0.085,0.176-0.104l3.333-1.95v0.014
                c0.387-0.221,0.835-0.349,1.313-0.349c1.466,0,2.655,1.189,2.655,2.654C52.384,39.728,51.194,40.917,49.728,40.917z
                 M50.706,30.151c-0.621,0.358-1.298,0.529-1.968,0.532l0.011,0.019l-5.787-0.035c-0.105,0.029-0.214,0.028-0.314-0.002
                c-0.141-0.041-0.266-0.135-0.342-0.273c-0.074-0.133-0.088-0.283-0.055-0.42c0.025-0.1,0.078-0.191,0.152-0.266l2.865-5.033
                l0.011,0.019c0.337-0.578,0.824-1.08,1.446-1.439c1.904-1.099,4.34-0.447,5.438,1.458C53.264,26.616,52.611,29.051,50.706,30.151
                z" />
                    </g>
                </g>
                <g>
                    <path fill="#30B38A" d="M91.964,31.608c0.282,0,0.526,0.099,0.731,0.298s0.31,0.435,0.314,0.707
            c0.004,0.273-0.094,0.506-0.294,0.7c-0.201,0.194-0.451,0.291-0.752,0.291h-9.256c0.282,0.465,0.572,0.969,0.868,1.511
            c0.296,0.542,0.479,1.135,0.547,1.777c0.068,0.643,0.034,1.228-0.103,1.757c-0.355,1.294-1.096,2.133-2.222,2.516
            c-1.126,0.383-2.263,0.538-3.411,0.465c-0.62-0.027-1.256-0.112-1.907-0.253c-0.652-0.142-1.194-0.301-1.627-0.479
            c-0.433-0.178-0.752-0.369-0.957-0.574c-0.205-0.205-0.294-0.488-0.267-0.848c0.027-0.36,0.168-0.59,0.424-0.69
            c0.255-0.101,0.506-0.132,0.752-0.096c0.155,0.036,0.595,0.203,1.319,0.499c0.725,0.296,1.574,0.453,2.55,0.472
            c2.014,0.045,3.069-0.426,3.165-1.415c0.096-0.989,0.057-1.743-0.116-2.263c-0.21-0.583-0.438-1.025-0.684-1.326l-0.834-1.053
            H68.188c-0.283,0-0.522-0.099-0.718-0.298c-0.196-0.199-0.294-0.432-0.294-0.7s0.098-0.501,0.294-0.7
            c0.196-0.199,0.435-0.298,0.718-0.298h10.24c0.036-0.271,0.103-0.488,0.198-0.651c0.096-0.163,0.492-0.346,1.189-0.549
            c0.697-0.204,1.26-0.391,1.688-0.563c0.428-0.172,0.896-0.384,1.401-0.638c0.506-0.253,0.807-0.439,0.902-0.556
            c0.096-0.118,0.141-0.21,0.137-0.278c-0.005-0.068-0.062-0.115-0.171-0.142c-0.109-0.027-0.556-0.041-1.34-0.041h-9.748
            c-0.301,0-0.549-0.1-0.745-0.3c-0.196-0.2-0.285-0.444-0.267-0.732c0.009-0.261,0.111-0.486,0.308-0.677
            c0.196-0.19,0.431-0.286,0.704-0.286h12.36c0.565,0,1.012,0.057,1.34,0.171c0.328,0.114,0.558,0.34,0.691,0.678
            c0.132,0.338,0.062,0.75-0.212,1.234c-0.219,0.384-0.663,0.845-1.333,1.384c-0.67,0.539-1.124,0.873-1.361,1l-1.586,0.946H91.964z
             M90.091,22.27c0.802,0.018,1.449,0.137,1.941,0.354c0.492,0.217,0.761,0.604,0.807,1.162c0.045,0.558,0,1.082-0.137,1.574
            c-0.128,0.447-0.326,0.955-0.595,1.524c-0.269,0.57-0.526,0.935-0.772,1.094c-0.246,0.16-0.508,0.23-0.786,0.212
            c-0.278-0.018-0.508-0.132-0.69-0.342c-0.183-0.21-0.255-0.433-0.219-0.67c0.009-0.082,0.036-0.171,0.082-0.267
            c0.045-0.096,0.207-0.39,0.485-0.882c0.278-0.492,0.399-0.87,0.362-1.135c-0.037-0.228-0.119-0.387-0.246-0.479
            c-0.128-0.091-0.255-0.139-0.383-0.144c-0.128-0.004-0.465-0.007-1.012-0.007H71.128c-0.401,0-0.668,0.019-0.8,0.055
            c-0.132,0.037-0.228,0.103-0.287,0.198c-0.06,0.096-0.089,0.248-0.089,0.458v1.094c0,0.274-0.095,0.508-0.284,0.704
            c-0.19,0.196-0.42,0.296-0.693,0.301c-0.272,0.005-0.51-0.096-0.714-0.301c-0.203-0.205-0.305-0.439-0.305-0.704v-1.613
            c0-0.627,0.058-1.081,0.173-1.363c0.115-0.282,0.274-0.483,0.478-0.603c0.203-0.12,0.383-0.188,0.54-0.201
            c0.157-0.014,0.517-0.021,1.078-0.021H90.091z M74.614,20.52c0.036,0.237-0.041,0.467-0.232,0.69
            c-0.191,0.224-0.465,0.308-0.82,0.253c-0.283-0.036-0.618-0.253-1.005-0.649c-0.388-0.396-0.884-0.85-1.49-1.36
            c-0.606-0.51-1.021-0.925-1.244-1.244c-0.224-0.319-0.313-0.617-0.267-0.896c0.045-0.278,0.189-0.467,0.431-0.567
            c0.241-0.1,0.485-0.123,0.731-0.068c0.264,0.073,0.583,0.283,0.957,0.629l1.244,1.217c0.62,0.574,1.048,1.01,1.285,1.306
            C74.441,20.126,74.578,20.356,74.614,20.52z M78.729,18.059c-0.31-0.519-0.46-0.916-0.451-1.189
            c0.009-0.274,0.162-0.499,0.458-0.677c0.296-0.178,0.585-0.207,0.868-0.089c0.109,0.055,0.23,0.157,0.362,0.308
            c0.132,0.15,0.414,0.654,0.848,1.511c0.433,0.857,0.725,1.47,0.875,1.839c0.15,0.369,0.223,0.672,0.219,0.909
            c-0.005,0.237-0.196,0.474-0.574,0.711c-0.378,0.237-0.777,0.142-1.196-0.287c-0.128-0.118-0.26-0.374-0.396-0.766
            c-0.137-0.392-0.326-0.843-0.567-1.354C78.932,18.465,78.784,18.16,78.729,18.059z M87.576,21.887
            c-0.146,0.082-0.349,0.125-0.608,0.13c-0.26,0.005-0.488-0.093-0.684-0.294c-0.196-0.2-0.28-0.424-0.253-0.67
            c0.009-0.146,0.109-0.346,0.301-0.602l0.834-1.107l0.629-0.957c0.355-0.528,0.636-0.996,0.841-1.401
            c0.205-0.405,0.39-0.677,0.554-0.813c0.164-0.137,0.373-0.207,0.629-0.212c0.255-0.004,0.483,0.071,0.684,0.226
            c0.2,0.155,0.296,0.415,0.287,0.779c-0.009,0.273-0.176,0.656-0.499,1.148c-0.324,0.492-0.761,1.192-1.313,2.099
            C88.425,21.12,87.958,21.678,87.576,21.887z" />
                    <path fill="#30B38A" d="M103.955,24.307h-3.415c-0.728,0-1.17,0.143-1.327,0.431c-0.157,0.287-0.235,0.631-0.235,1.032v14.615
            c0,0.246-0.08,0.476-0.239,0.69c-0.159,0.214-0.388,0.323-0.684,0.328c-0.297,0.004-0.532-0.103-0.704-0.321
            c-0.173-0.219-0.259-0.451-0.259-0.697V25.059c0-0.355,0.068-0.738,0.205-1.148c0.136-0.41,0.388-0.779,0.757-1.107
            c0.368-0.328,0.998-0.492,1.889-0.492h5.441c0.491-1.175,0.918-2.26,1.282-3.254H95.956c-0.228,0-0.444-0.094-0.649-0.283
            c-0.205-0.189-0.303-0.445-0.294-0.769c0.009-0.341,0.121-0.584,0.335-0.728c0.214-0.144,0.417-0.216,0.608-0.216h24.268
            c0.228,0,0.438,0.09,0.629,0.27c0.191,0.18,0.294,0.414,0.308,0.701c0.014,0.288-0.075,0.53-0.267,0.728
            c-0.191,0.198-0.415,0.297-0.67,0.297h-11.432c-0.373,1.003-0.791,2.088-1.254,3.254h8.702c1.455,0,2.305,0.365,2.55,1.094
            c0.245,0.729,0.368,1.281,0.368,1.654v13.904c0,0.538-0.064,0.979-0.193,1.326c-0.128,0.346-0.414,0.658-0.857,0.937
            c-0.443,0.278-1.273,0.412-2.491,0.403c-0.775,0-1.359-0.082-1.751-0.246c-0.392-0.164-0.574-0.501-0.547-1.012
            c0.018-0.447,0.269-0.702,0.752-0.766c0.146-0.019,0.452,0.004,0.917,0.068c0.465,0.063,0.884,0.091,1.258,0.082
            c0.446,0,0.729-0.062,0.848-0.185c0.118-0.123,0.178-0.399,0.178-0.827V25.797c0-0.446-0.091-0.807-0.274-1.08
            c-0.183-0.273-0.589-0.41-1.22-0.41h-3.209v14.519c0,0.209-0.066,0.426-0.197,0.649c-0.131,0.223-0.364,0.355-0.699,0.396
            c-0.335,0.041-0.603-0.06-0.801-0.301c-0.199-0.242-0.299-0.49-0.299-0.745V24.307h-4.73v14.807c0,0.237-0.076,0.469-0.228,0.697
            c-0.152,0.228-0.384,0.349-0.696,0.362c-0.312,0.014-0.551-0.098-0.716-0.335c-0.165-0.237-0.247-0.479-0.247-0.725V24.307z" />
                </g>
            </g>
        </symbol>
        <symbol id="search" preserveAspectRatio="none">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="课程详情" transform="translate(-263.000000, -35.000000)">
                    <g id="app-bar-bg-copy" transform="translate(0.000000, 24.000000)">
                        <g id="app-bar-contents" transform="translate(264.000000, 12.000000)">
                            <g id="menu-bt">
                                <g id="search">
                                    <circle id="Oval-13" stroke="#CDCDCD" cx="16" cy="16" r="16"></circle>
                                    <rect id="Rectangle-113" fill="#666666" transform="translate(19.882771, 20.956169) rotate(50.000000) translate(-19.882771, -20.956169) " x="16.9782577" y="20.456169" width="5.80902719" height="1"></rect>
                                    <ellipse id="Oval-3" stroke="#666666" cx="15.3978145" cy="14.6445659" rx="5" ry="5"></ellipse>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </symbol>
        <symbol id="user">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="课程详情" transform="translate(-311.000000, -35.000000)">
                    <g id="app-bar-bg-copy" transform="translate(0.000000, 24.000000)">
                        <g id="Oval-16-+-Oval-13-Copy-+-Oval-15" transform="translate(312.000000, 12.000000)">
                            <path d="M25.6880254,28.5167372 C24.5820819,22.4699513 20.6639027,18 16,18 C11.304048,18 7.36410369,22.5315953 6.2895743,28.641616" id="Oval-16" stroke="#666666"></path>
                            <g id="Oval-13-Copy-+-Oval-15">
                                <circle id="Oval-13-Copy" stroke="#CDCDCD" cx="16" cy="16" r="16"></circle>
                                <circle id="Oval-15" stroke="#666666" cx="16" cy="13" r="5"></circle>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </symbol>
        <symbol id="back">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="搜索结果" transform="translate(-18.000000, -35.000000)">
                    <g id="app-bar-bg-copy" transform="translate(0.000000, 24.000000)">
                        <g id="Oval-39-+-Shape" transform="translate(19.000000, 12.000000)">
                            <circle id="Oval-39" stroke="#CDCDCD" cx="16" cy="16" r="16"></circle>
                            <path d="M24,15 L11.8,15 L17.4,9.4 L16,8 L8,16 L16,24 L17.4,22.6 L11.8,17 L24,17 L24,15 L24,15 Z" id="Shape" fill="#CDCDCD"></path>
                        </g>
                    </g>
                </g>
            </g>
        </symbol>
        <symbol id="comments">
        	<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="课程详情" transform="translate(-229.000000, -236.000000)" stroke="#FFFFFF">
            <g id="Group" transform="translate(0.000000, 80.272000)">
                <g id="写评价-+-Shape-Copy-4" transform="translate(230.000000, 154.000000)">
                    <path d="M12.59375,3 L0.40625,3 C0.182,3 0,3.18537931 0,3.4137931 L0,12.1034483 C0,12.3318621 0.182,12.5172414 0.40625,12.5172414 L3.25,12.5172414 L3.25,14.5862069 C3.25,14.7477931 3.34242187,14.8946897 3.4864375,14.9621379 C3.540875,14.9875862 3.59876562,15 3.65625,15 C3.75151563,15 3.8455625,14.9658621 3.92071875,14.9004828 L6.6503125,12.5172414 L12.59375,12.5172414 C12.818,12.5172414 13,12.3318621 13,12.1034483 L13,3.4137931 C13,3.18537931 12.818,3 12.59375,3 L12.59375,3 Z" id="Shape-Copy-4"></path>
                </g>
            </g>
        </g>
    </g>	
        </symbol>
        <symbol id="heart_s">
        	<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="课程详情" transform="translate(-57.000000, -236.000000)" stroke="#fff">
            <g id="Group" transform="translate(0.000000, 80.272000)">
                <g id="喜欢-+-Shape-Copy-3" transform="translate(58.000000, 155.000000)">
                    <path d="M7.5,4.4375 C6.94166667,3.03025 5.3775,2 3.75,2 C1.63083333,2 0,3.56975 0,5.65625 C0,8.5235625 3.16083333,10.740875 7.5,15 C11.8391667,10.740875 15,8.5235625 15,5.65625 C15,3.56975 13.3691667,2 11.25,2 C9.62083333,2 8.05833333,3.03025 7.5,4.4375 Z" id="Shape-Copy-3"></path>
                </g>
            </g>
        </g>
    </g>
        </symbol>
        <symbol id="heart_s_orange" viewBox="0 0 16 15">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="专题页面上滑" transform="translate(-57.000000, -475.000000)" stroke="#EEAB5D">
            <g id="喜欢-+-Shape-Copy-3" transform="translate(57.000000, 476.000000)">
                <path d="M8,2.60416667 C7.44166667,1.19691667 5.8775,0.166666667 4.25,0.166666667 C2.13083333,0.166666667 0.5,1.73641667 0.5,3.82291667 C0.5,6.69022917 3.66083333,8.90754167 8,13.1666667 C12.3391667,8.90754167 15.5,6.69022917 15.5,3.82291667 C15.5,1.73641667 13.8691667,0.166666667 11.75,0.166666667 C10.1208333,0.166666667 8.55833333,1.19691667 8,2.60416667 Z" id="Shape-Copy-3"></path>
            </g>
        </g>
    </g>
        </symbol>
        <symbol id="comments_fill" viewBox="0 0 13 12">
             <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="搜索结果-上滑" transform="translate(-201.000000, -158.000000)" fill="#999999">
            <g id="2" transform="translate(15.000000, 127.000000)">
                <g id="Group" transform="translate(57.000000, 31.000000)">
                    <path d="M141.59375,0 L129.40625,0 C129.182,0 129,0.18537931 129,0.413793103 L129,9.10344828 C129,9.33186207 129.182,9.51724138 129.40625,9.51724138 L132.25,9.51724138 L132.25,11.5862069 C132.25,11.7477931 132.342422,11.8946897 132.486437,11.9621379 C132.540875,11.9875862 132.598766,12 132.65625,12 C132.751516,12 132.845562,11.9658621 132.920719,11.9004828 L135.650313,9.51724138 L141.59375,9.51724138 C141.818,9.51724138 142,9.33186207 142,9.10344828 L142,0.413793103 C142,0.18537931 141.818,0 141.59375,0 L141.59375,0 Z" id="Shape-Copy"></path>
                </g>
            </g>
        </g>
    </g>
        </symbol>
        <symbol id="tag_icon" viewBox="0 0 14 14">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="课程详情底部-（---！！！" transform="translate(-32.000000, -205.000000)">
            <g id="pricetag" transform="translate(32.000000, 205.000000)">
                <g id="Group">
                    <path d="M5.29544615,13.6584 C5.37944615,13.7426154 5.48972308,13.7846154 5.6,13.7846154 C5.71027692,13.7846154 5.82055385,13.7426154 5.90455385,13.6584 L13.6584,5.90455385 C13.7391692,5.82378462 13.7846154,5.71415385 13.7846154,5.6 L13.7846154,0.430769231 C13.7846154,0.192984615 13.5916308,0 13.3538462,0 L8.18461538,0 C8.07046154,0 7.96083077,0.0454461538 7.88006154,0.126215385 L0.126215385,7.88006154 C-0.042,8.04827692 -0.042,8.32095385 0.126215385,8.48916923 L5.29544615,13.6584 L5.29544615,13.6584 Z" id="Shape" fill="#999999"></path>
                    <path d="M10.1230769,5.38461538 C11.0731385,5.38461538 11.8461538,4.6116 11.8461538,3.66153846 C11.8461538,2.71147692 11.0731385,1.93846154 10.1230769,1.93846154 C9.17301538,1.93846154 8.4,2.71147692 8.4,3.66153846 C8.4,4.6116 9.17301538,5.38461538 10.1230769,5.38461538 L10.1230769,5.38461538 Z" id="Shape" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </g>
        </symbol>
         <symbol id="arrow_icon" viewBox="0 0 7 21">
         <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g id="课程详情底部" transform="translate(-313.000000, -543.000000)" stroke="#FFFFFF" fill="#FFFFFF">
            <g id="bott" transform="translate(288.000000, 526.000000)">
                <path d="M28.5,38.5 L28.5,17.5" id="Line"></path>
                <path id="Line-decoration-1" d="M28.5,17.5 L25.5,28.3 L31.5,28.3 L28.5,17.5 Z"></path>
            </g>
        </g>
    </g>
         </symbol>
         <symbol id="back_to_top" viewBox="0 0 40 40">
             <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.5">
             <g id="课程详情" transform="translate(-304.000000, -532.000000)" fill="#2BBB8F">
                <g id="Group-2" transform="translate(304.000000, 532.000000)">
                    <path d="M20,40 C31.045695,40 40,31.045695 40,20 C40,8.954305 31.045695,0 20,0 C8.954305,0 0,8.954305 0,20 C0,31.045695 8.954305,40 20,40 Z M20.7142857,17 L24.7142857,21 L25.7142857,20 L20,14.2857143 L14.2857143,20 L15.2857143,21 L19.2857143,17 L19.2857143,25.7142857 L20.7142857,25.7142857 L20.7142857,17 Z" id="Oval-2"></path>
                </g>
            </g>
            </g>
         </symbol>
         <symbol id="arrow_down" viewBox="0 0 14 5">
             <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="课程详情底部" transform="translate(-141.000000, -196.000000)" fill="#999999">
                    <path d="M141,196 L155,196 L148,201 L141,196 Z" id="Path-259">
                    </path>
                </g>
            </g>
         </symbol>
         <symbol id="hook" viewBox="0 0 8 8">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="全部课程" transform="translate(-282.000000, -206.000000)" 
                stroke="#000000" fill="none">
                    <path d="M282,210.178856 L284.382175,212.507524 L289.985511,207" id="Path-624" fill="none" stroke-dasharray="12"></path>
                </g>
            </g>
         </symbol>
         <symbol id="warnning" viewBox="0 0 17 15">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="用户-注册" transform="translate(-323.000000, -188.000000)" fill="#FF7979">
                    <path d="M323,203 L340,203 L331.5,188 L323,203 L323,203 Z M332.5,201 L330.5,201 L330.5,199 L332.5,199 L332.5,201 L332.5,201 Z M332.5,198 L330.5,198 L330.5,194 L332.5,194 L332.5,198 L332.5,198 Z" id="Shape"></path>
                </g>
            </g>
         </symbol>
    </svg>
    <div class="viewport" style="display:none">
        <div id="nav"></div>
        <div id="pageview" class="pageview"></div>
        <div id="footer">
            <div class="title">华中师范大学&nbsp;|&nbsp;木犀团队</div>
            <div class="links">
                <div class="row space">
                    <a href="http://muxistudio.com" class="item">关于木犀</a>
                    <a href="http://form.mikecrm.com/GFFw2v" class="item">意见反馈</a>
                    <a href="http://muxistudio.com" class="item last">加入我们</a>
                </div>
            </div>
            <div class="copyright">Proudly Prowered by Backbone & Flask</div>
        </div>
    </div>
    <div id="token" style="display:none">ZXlKcFpDSTZNVEY5LlljM0pTbElmRktPd0tKY3g0QXZwX2Y0bEZvUTo=</div>
    <div id="grantToken" style="display:none">ZXlKamJHbGxiblJmYVdRaU9qSjkua0hQbmFvZGJHdE5iUUtNN21vN2YydmlzbFhnOg==</div>
    <script type="text/template" id="nav_template">
        <div class="container">
            <div class="title_set">
                <% if (hasPrev) { %>
                    <svg viewBox="0 0 34 34" class="back nav_icon">
                        <use xlink:href="#back"></use>
                    </svg>
                    <% if (currentPage) { %>
                          <span class="title_l title"><%= currentPage %></span>
                    <%}%>
                <% }else { %>
                        <svg data-link="" class="logo nav_icon link">
                            <use xlink:href="#logo"></use>
                        </svg>
                        <% if (currentPage) { %>
                            <span class="title_s title"><%= currentPage %></span>
                        <% } %>
                <% } %>
            </div>
            <div class="icon_set">
                <div data-link="/search" class="nav_icon search">
                    <svg viewBox="0 0 34 34">
                        <use xlink:href="#search"></use>
                    </svg>
                </div>
                <div data-link="/user" class="nav_icon user link">
                    <svg viewBox="0 0 34 34">
                        <use xlink:href="#user"></use>
                    </svg>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="main_tab_template">
        <div class="tab tab_index va_item">
            <span data-link="tips" class="tab_text current">首页</span>
        </div>
        <div class="tab tab_recommend va_item">
            <span data-link="courses?type=courses&page=1&sort=like" class="tab_text">推荐课程</span>
        </div>
        <div class="tab tab_all va_item">
            <span data-link="courses?type=courses&page=1&sort=view" class="tab_text">所有课程</span>
        </div>
    </script>
    <script type="text/template" id="main_template">
    </script>
    <script type="text/template" id="main_recommend_template">
        recommend
    </script>
    <script type="text/template" id="main_tip_item_template">
        <div class="img">
            <img class="tip_link" data-link="<%= id %>" src="<%= img_url %>" />
        </div>
        <div class="info">
            <div class="title">
                <div class="tip_link" data-link="<%= id %>">
                    <%= title %>
                </div>
            </div>
            <div class="bottom space">
                <div class="btns space">
                    <span class="btn views space">
                        <svg class="views_icon icon">
  							<use xlink:href="#views_count"></use>
						</svg>
						<span class="data"><%= views %></span>
                    </span>
                    <span class="btn likes space">
                    	<svg class="likes_icon icon">
  							<use xlink:href="#heart_f"></use>
						</svg>
						<span class="data"><%= likes %></span>
                    </span>
                </div>
                <div class="date">
                    <%= date %>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="search_template">
        <div class="warpper warpper_fadeIn warpper_fadeOut">
            <div class="container">
                <div class="search_box space">
                    <input type="text" class="search_input" />
                    <button class="search_btn">搜索</button>
                </div>
                <div class="hot">
                    <p class="title">大家都在搜</p>
                    <div class="items space">
                        <% _.each(hot_search, function(i) { %>
                            <span data-link="/search_result?page=1&type=search&keywords=<%= i %>" class="item">
                                <%= i %>
                            </span>
                        <% }); %>
                    </div>
                </div>
        </div>
        </div>
        <div class="circle circle_fadeIn"></div>
    </script>
    <script type="text/template" id="course_info_template">
        <div class="info">
            <div class="overlay" style="background-image:url('http://static.muxistudio.com/xueer_bg_<%= Math.floor(Math.random()*4) + 1  %>.png')">
                <div class="basic">
                    <div class="title">
                        <%= title %>
                    </div>
                    <div class="others">
                        <p>
                            <%= teacher %>
                        </p>
                    </div>
            </div>
            <div class="btns space">
                <div class="btn like space" id="course_like">
                   <div class="btn_container">
                       <svg viewBox="0 0 17 15" 
                       class="heart_icon <% if(liked) { %>heart_liked<% } %>">
                            <use xlink:href="#heart_s"></use>
                       </svg>
                       <span class="btn_text"><%= likes ? likes : 0 %></span>
                       <svg viewBox="0 0 17 15" class="heart_icon_filled">
                            <use xlink:href="#heart_s"></use>
                       </svg>
                   </div>
                </div>
                <div class="btn w_comment space" id="w_comment">
                    <svg viewBox="0 0 17 14">
                        <use xlink:href="#comments"></use>
                    </svg>
                    <span class="btn_text">写评价</span>
                </div>
            </div>
            </div>
        </div>
        <div class="tags space"> 
            <span class="tags_item"><%= main_category %></span>
            <% if(sub_category !== "无分类") { %>
            <span class="tags_item"><%= sub_category %></span>
            <% } %>
            <% if(credit_category !== "无分类") { %>
            <span class="tags_item"><%= credit_category %></span>
            <% } %>
            <% if(hot_tags.length > 0) { %>
                <% _.each(hot_tags.split(" "), function(i) { %>
                <span class="tags_item"><%= i %></span>
                <% }); %>  
             <% } %>
        </div>
        <div class="comment_box_pop">
            <div class="comment_box" id="comment_box">
            </div>
        </div>
    </script>
    <script type="text/template" id="course_template">
    </script>
    <script type="text/template" id="comments_template">
        <div class="comments_title">所有评论</div>
        <div class="comments">
            <div class="comments_view">
                <div class="prev_comments"></div>
            </div>
        </div>
    </script>
    <script type="text/template" id="hot_comments_template">
        <div class="comments_title">热门评论</div>
        <div class="comments">
            <div class="comments_view">
                <div class="prev_comments"></div>
            </div>
        </div>
    </script>
    <script type="text/template" id="comment_item_template">
        <div class="space" id="c_<%= id %>">
            <div class="avatar">
				<img src="/static/x_m/avatar.png"></img>
            </div>
            <div class="content <% if (fold){ %>content_fold<% } %>">
                <div class="name"><%= _.escape(user_name) %></div>
                <div class="time"><%= date %></div>
                <div class="body">
                 <% if (fold){ %> 
                    <%= body_short %> 
                 <% } else { %>
                    <%= body %> 
                 <% } %>
                </div>
                <div class="like">
                    <div class="touch_area">
                        <svg class="like_icon <% if (liked){ %>liked<% } %>">
                            <use xlink:href="#heart_f"></use>
                        </svg>
                        <span class="like_count"><%= likes  %></span>
                    </div>
				</div>
            </div>
        </div>
        <% if (fold) { %>
            <div class= "more space">
                <svg class="more_icon">
                    <use xlink:href="#arrow_down"></use>
                </svg>
                <span class="more_text">查看全文</span>
            </div>
        <% } %>
    </script>
    <script type="text/template" id="tip_view_template">
    	<div class="tip_title"><%= title %></div>
		<div class="tip_info space">
            <span class="tip_info_item tip_info_author"><%= author %></span>
            <span class="tip_info_item tip_info_date"><%= date %></span>
        </div>
		<div class="tip_content"><%= body %></div>
		<div class="tip_btns space">
            <div class="tip_btn tip_btn_like">
                <svg class="tip_btn--icon">
                    <use xlink:href="#heart_s_orange"></use>
                </svg>
                <%= likes %>
            </div>
            <div class="tip_btn tip_btn_back">返回首页</div>
        </div>
    </script>
    <script type="text/template" id="courses_list_template">
        <div class="menu space">
            <div class="sort">
                <span>排序方式：</span>
                <span data-sort="view"class="s_item comments 
                <% if (params.sort === 'view') { %>active <% } %>">
                    评论最多
                &nbsp;&nbsp;</span>
                <span data-sort="like" class="s_item likes
                <% if (params.sort === 'like') { %>active <% } %>">
                &nbsp;&nbsp;点赞最多</span>
            </div>
            <div class="filter">筛选</div>
            <div class="filter_list">
                <div class="filter_g">
                    <input type="radio" name="category" id="public" value="1"
                    <% if (params.main_cat == "1") { %>checked<% } %>/>
                    <label for="public">
                        <svg class="filter_icon">
                            <use xlink:href="#hook"></use>
                        </svg>
                        <span class="filter_text">公共课</span>
                    </label>
                </div>
                <div class="filter_g">
                    <input type="radio" name="category" id="general" value="2"
                    <% if (params.main_cat == "2") { %>checked<% } %>/>
                    <label for="general">
                        <svg class="filter_icon">
                            <use xlink:href="#hook"></use>
                        </svg>
                        <span class="filter_text">通识课</span>
                    </label>
                </div>
                <div class="filter_g">
                    <input type="radio" name="category" id="pro" value="3"
                    <% if (params.main_cat == "3") { %>checked<% } %>/>
                     <label for="pro">
                        <svg class="filter_icon">
                            <use xlink:href="#hook"></use>
                        </svg>
                        <span class="filter_text">专业课</span>
                    </label>
                </div>
                <div class="filter_g">
                    <input type="radio" name="category" id="quality" value="4"
                    <% if (params.main_cat == "4") { %>checked<% } %>/>
                    <label for="quality">
                        <svg class="filter_icon">
                            <use xlink:href="#hook"></use>
                        </svg>
                        <span class="filter_text">素质课</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="list"></div>
        <div class="hint"></div>
    </script>
     <script type="text/template" id="courses_list_item_template">
        <div class="course space">
            <div class="avatar"><%= main_category.slice(0,1) %></div>
            <div class="content">
                <div data-id=<%= id %> class="title c_link"><%= title %></div>
                <div class="info space">
                    <span class="va_item teacher"><%= teacher %></span>
                    <span class="va_item comments">
                        <svg>
                            <use xlink:href="#comments_fill"></use>
                        </svg><%= views ? views : 0 %>
                    </span>
                    <span class="va_item likes">
                        <svg>
                            <use xlink:href="#heart_f"></use>
                        </svg><%= likes ? likes : 0 %>
                    </span>
                </div>
            </div>
        </div>
     </script>
     <script type="text/template" id="loading_view_template">
        <div class="boxes space">
            <div class="box left"></div>
            <div class="box middle"></div>
            <div class="box right"></div>
        </div>
     </script>
      <script type="text/template" id="user_view_template">
            <% if (!isLogin){ %>
            <div class="btns space">
                <div data-link="register" class="btn register">注册</div>
                <div data-link="login" class="btn login">登录</div>
            </div>
            <div class="hint_text">
            ヾ (o ° ω ° O ) ノ゙  <br>
            </br>
            登录之后</br>
            我们会根据您的浏览记录给出更优的推荐</br>
            </br>
            我们的程序猿正在努力开发个人主页的更多内容…</div>
            <% } else { %>
            <div class="btns space">
                <div class="btn logout">注销</div>
            </div>
            <% } %>
      </script>
      <script type="text/template" id="login_view_template">
            <div class="container">
                <form>
                    <div class="row<% if (authFail[0]){ %> auth_fail<% } %>">
                        <div class="label">邮箱:</div>
                        <input type="text"class="input username" id="username" value="<%= username %>" />
                        <div class="message">
                            <%= message[0] %>
                            <svg class="warnning_icon" viewBox="0 0 17 15">
                                <use xlink:href="#warnning"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="row<% if (authFail[1]){ %> auth_fail<% } %>">
                        <div class="label">密码:</div>
                        <input type="password" class="input password" id="password"/>
                        <div class="message">
                            <%= message[1] %>
                            <svg class="warnning_icon" viewBox="0 0 17 15">
                                <use xlink:href="#warnning"></use>
                            </svg>
                        </div>
                    </div>
                     <div class="btns space login_btns">
                        <div class="forget va_item">忘记密码？&nbsp;</div>
                        <div class="btn login va_item">登录</div>
                     </div>
                </form>
            </div>
      </script>
      <script type="text/template" id="register_view_template">
            <div class="container">
                <form class="register_form">
                    <div class="row<% if (authFail[0]){ %> auth_fail<% } %>">
                        <div class="label">用户名:</div>
                        <input type="text"class="input username padd3" id="username" placeholder="挑一个8个字符以内的用户名" value="<%= username %>"/>
                        <div class="message">
                            <%= message[0] %>
                            <svg class="warnning_icon" viewBox="0 0 17 15">
                                <use xlink:href="#warnning"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="row<% if (authFail[1]){ %> auth_fail<% } %>">
                        <div class="label">密码:</div>
                        <input type="password" class="input password padd2" id="password" placeholder="挑一个不少于6位的密码" value="<%= password %>"/>
                        <div class="message">
                            <%= message[1] %>
                            <svg class="warnning_icon" viewBox="0 0 17 15">
                                <use xlink:href="#warnning"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="row<% if (authFail[2]){ %> auth_fail<% } %>">
                        <div class="label">确认密码:</div>
                        <input type="password" class="input password padd4" 
                        id="password_c" placeholder="请再输入一次密码" value="<%= passwordC %>"/>
                        <div class="message">
                            <%= message[2] %>
                            <svg class="warnning_icon" viewBox="0 0 17 15">
                                <use xlink:href="#warnning"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="row<% if (authFail[3]){ %> auth_fail<% } %>">
                        <div class="label">邮箱:</div>
                        <input type="email" class="input email padd2" id="email" placeholder="用于找回密码" value="<%= email %>"/>
                        <div class="message">
                            <%= message[3] %>
                            <svg class="warnning_icon" viewBox="0 0 17 15">
                                <use xlink:href="#warnning"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label">QQ:</div>
                        <input type="text" class="input qq padd2" id="qq" placeholder="选填" value="<%= qq %>"/>
                    </div>
                    <div class="row">
                        <div class="label">联系电话:</div>
                        <input type="tel" class="input phone padd4" id="phone"placeholder="选填" value="<%= phone %>"/>
                    </div>
                    <div class="row">
                        <div class="label">专业:</div>
                        <input type="text" class="input major padd2" id="major" placeholder="选填" value="<%= major %>"/>
                    </div>
                    <div class="hint_text">
                        ∑(っ °Д °;)っ</br>请放心评价课程时不会显示你的私人信息</br>填写选填信息我们可以给你更加精确的推荐</br>并且可以参与评课活动，获得评课奖励
                    </div>
                     <div class="btns space">
                        <div class="btn cancel va_item">取消</div>
                        <div class="btn submit va_item">确认</div>
                     </div>
                </form>
            </div>
      </script>
      <script type="text/template" id="back_to_top_template">
        <svg class="arrow_icon">
               <use xlink:href="#back_to_top"></use>
        </svg>   
     </script>
     <script type="text/template" id="dialog_template">
        <div class="dialog_top">
            <div class="dialog_img"></div>
            <div class="dialog_text">请登录后操作</div>
        </div> 
        <div class="dialog_btns space">
            <div class="dialog_btn dialog_btn_cancel">等会再说</div>
            <div class="dialog_btn dialog_btn_login">去登录</div>
        </div> 
     </script>
     <script type="text/template" id="error_view_template">
        <div class="container">
            <div class="img"></div>
            <div class="text">你似乎来到了错误的服务区</div>
            <div class="btn">刷新</div>
        </div> 
     </script>
    <script src="/static/x_m/bundle.js?v=2333"></script>
</body>

</html>
