<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<script src="assets/flexible.js"></script>
	<title>学而</title>
</head>
<body>
	<div class="viewport">
		<div id="nav"></div>
		<div id="pageview"></div>
		<div id="footer">
			<div class="title">华中师范大学|木犀团队</div>
			<div class="links"></div>
			<div class="copyright">Hello from Wuhan 2015 Muxistudio</div>
		</div>
	</div>
	<script type="text/template" id="nav_template">
		<a href="#" data-link="/search" class="link">搜索</a>
		<a href="#" data-link="/course/course.json" class="link">课程</a>
	</script>
	<script type="text/template" id="main_tab_template">
		<a data-link="tips" href="#" class="tab tab_index va_item">选课贴士</a>
		<a data-link="recommend" href="#" class="tab tab_recommend va_item">推荐课程</a>
		<a data-link="all" href="#" class="tab tab_all va_item">所有课程</a>	
	</script>
	<script type="text/template" id="main_template">
	</script>
	<script type="text/template" id="main_recommend_template">
		recommend
	</script>
	<script type="text/template" id="main_all_template">
		all
	</script>
	<script type="text/template" id="main_tip_item_template">
		<div class="img">
			<img src="<%= img_url %>" />
		</div>
		<div class="info">
			<div class="title"><a href="#" data-link="<%= url %>"><%= title %></a></div>
			<div class="bottom">
				<div class="btns">
				<div>
						<span class="btn views"><%= views %></span>
						<span class="btn likes"><%= likes %></span>
				</div>
				</div>
				<div class="data"><%= date %></div>
			</div>
		</div>
	</script>
	<script type="text/template" id="search_template">
		<div class="container">
			<div class="search_box space">
				<input type="text" class="search_input"/>
				<button class="search_btn">搜索</button>
			</div>
			<div class="hot">
				<p class="title">大家都在搜</p>
				<div class="items space"> 
					<% _.each(["任选课","毛概","跟着电影学传媒","任选课","毛概","思修","近代史","毛概","跟着电影学传媒"], function(i) { %>  
						<span data-link="/search_result/<%= i %>" class="item"><%= i %></span> 
					<% }); %>
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="course_template">
		<div class="info" style="background-image:url('/assets/course_bg.png')">
			<div class="mask"></div>
			<div class="basic">
				<div class="title"> <%= title %></div>
				<div class="others">
					<p><%= teacher %></p>
					<p><%= hot_tags %></p>
				</div>
			</div>
			<div class="btns space">
				<div class="btn like"><%= likes %></div>
				<div class="btn w_comment">写评价</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="comments_template">

	</script>
	<script type="text/template" id="comment_item_template">
		<li>
			<%= title %>
		</li>
	</script>
	<script src="assets/bundle.js"></script>
</body>
</html>