@import 'reset.css';
.weui_cells:after {
    border-bottom: 0 !important;
}
.vux-popup-mask {
    display: none !important;
}
.vux-popup-show {
    display: block !important;
}
.weui_btn_primary {
    margin-top: 33px;
    width: 88% !important;
}
.weui_tabbar {
    position: fixed !important;
}
.weui_cells {
    margin-top: 0 !important;
}
.vux-swiper-item {
    overflow: scroll;
}