/** css reset **/
body{
	height:100%;
	font-family: "Helvetica","PingFang SC","STHeiti","sans-serif";
	line-height: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html,body,button,form,textarea,input,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;  
} 
input,button,textarea{
	border: 0;
	outline: 0;
	box-sizing:content-box;
}
html{
	height:100%;
}
a{
	text-decoration: none;
}
textarea{
	display:block;
}
a:visited { color:#999 };

/**
 *  page basic style
 */
.pageview{
	position: relative;
}

// svg use reset
svg path{
	transition:inherit;
	stroke-dashoffset:inherit;
}

@import "../pages/index.scss";
@import "../pages/search.scss";
@import "../pages/course.scss";
@import "../pages/course_list.scss";
@import "../pages/user.scss";
@import "../pages/login.scss";
@import "../pages/register.scss";
@import "../pages/tip.scss";
@import "./common.scss";
@import "./class.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/main_tab_view.scss";
@import "../components/loading_view.scss";
@import "../components/back_to_top.scss";
@import "../components/dialog.scss";