@mixin button_main($width, $height, $color) {
 		display: inline-block;
		vertical-align: top;
		width:$width;
		height:$height;
		line-height:$height;
		text-align: center;
		box-sizing:border-box;
		border:1px solid $color;/*px*/
		font-size: 14px;/*px*/
		color: $color;
		border-radius: 2px;/*px*/
}