@mixin tag() {
  font-size: 14px;/*px*/
	display:inline-block;
	height:20px;
	line-height: 20px;
	background-color: $bg_cd;
	padding:0px 3px;
	color:#fff;
	margin-right: 6px;
	border-radius:2px;/*px*/
}