@import "../common/common.scss";
/*
* component back_to_top
* 
 */

.back_to_top{
	display:none;
	height:40px;
	width: 40px;
	position:fixed;
	bottom:58px;
	right:16px;
	z-index: 8;
}
.arrow_icon{
	display: block;
	width:100%;
}
.arrow_icon use{
	fill:#2BBB8F;
}
