@import "../common/common.scss";
/*
* component dialog
* by zindex
*/

.dialog{
	z-index: 5;
	background-color: #fff;
	position:fixed;
	top:50%;
	left:50%;
	width: 300px;
	height:200px;
	margin-top: -100px;
	margin-left: -150px;
	box-sizing:border-box;
	border:2px solid $main_green;
	border-radius: 2px;
}
.dialog_top{
	margin-top: 16px;
}
.dialog_img{
	width:217px;
	height:102px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('http://7oxh2b.com1.z0.glb.clouddn.com/bunny.png');
	background-size:contain;
	background-repeat: no-repeat;
}
.dialog_text{
	font-size: 14px;/*px*/
	color:$font_999;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}
.dialog_btns{
	color:#fff;
	background-color: $main_green;
}
.dialog_btn{
	margin-top: 3px;
	margin-bottom: 3px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;/*px*/
	display:inline-block;
	width:50%;
	text-align: center;
	box-sizing:border-box;
}
.dialog_btn_cancel{
	border-right: 1px solid #fff;
}