/**
 * component header
 */
#nav{
	width: 100%;
	height:56px;
	position: fixed;
	top:0;
	left:0;
	line-height: 56px;
	box-shadow: 0px 0px 4px rgba(0,0,0,.12);
	background-color: #fff;
	.container{
		width:328px;
		margin: 0 auto;
	}
	.title_set{
		display:inline-block;
		height:56px;
		text-align: left;
		width:241px;
	}
	.icon_set{
		display:inline-block;
		height:56px;
		width:87px;
		text-align: right;
	}
	.logo{
		height:32px;
		width:71px;
	}
	.title_l{
		line-height: 20px;/*px*/
		font-size: 20px;/*px*/
		padding-left: 16px;
		vertical-align: middle;
	}
	.title_s{
		padding-left: 7px;
		margin-left: 7px;
		border-left: 1px solid #30B38A;/*px*/
		line-height: 16px;/*px*/
		font-size: 16px;/*px*/
		vertical-align: -7px;
	}
	.title{
		display:inline-block;
		color:#30B38A;
	}
	.logo use{
		fill:#30B38A;
	}
	.search svg,.user svg{
		display:inline-block;
		height:100%;
		width:100%;
		pointer-events: none;
	}
	.search{
		margin-right: 16px;
	}
	.search,.user,.back{
		height:34px;
		width:34px;
	}
	.nav_icon use{
		fill:none;
	}
	.nav_icon{
		display:inline-block;
		vertical-align: middle;
	}
}